{% load static %}
<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <link href="{% static '/src/styles.css' %}" rel="stylesheet">
    <title>Document</title>

</head>

<body>

    <div class="  mx-auto bg-gradient-to-r from-blue-600 to-blue-800 overflow-hidden ">
        <div class=" flex :flex-row justify-between  text-center bg-gray-700 ">
            <div class=" md:flex md:flex-row md:justify-center ml-3 inline-flex mt-3">
                <div class=" bg-gradient-to-r from-purple-400 to-red-400 w-12 h-12 rounded-lg md:ml-10 mt-3">
                </div>
                <h1 class="ml-2 pt-5 text-white">SHOPit</h1>
            </div>
            <div
                class="text-white flex flex-row  ml-7 mt-8 mb-7 sm:ml-40 px-5 py-2 rounded-lg border-2 bg-black text-start ">
                <input type="email" name="email" placeholder="Search"
                    class="  text-white outline-none text-md md:text-start bg-black ">
                <a href="">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
                    </svg>

                </a>



            </div>
            <!-- <div class="mt-2 md:flex md:justify-center ">
                <nav class="p-5 bg-white shadow md:flex md:items-center md:justify-between"></nav>
                <span class="text-3xl cursor-pointer mx-2 md:hidden block">
                    <ion-icon name="menu" onclick="Menu(this)"></ion-icon>
                </span>
                <a href="#" class="text-white hover:text-purple-600 p-4 font-bold">Home</a>
                <a href="#" class="text-white  hover:text-purple-600 p-4 font-bold" S>Shop</a>
                <a href="#" class="text-white  hover:text-purple-600 p-4 font-bold">New</a>
                <a href="#" class="text-white  hover:text-purple-600 p-4 font-bold" S>Contact</a>
                <div class="row flex-row justify-between mt-4 ml-4 space-x-4 mr-5 ">
                    <a href="#" class="text-white border-2 p-2  rounded-full">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="w-6 h-6 inline-block">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z" />
                        </svg>
                        Cart</a>
                    <a href="" class=" ml-3  text-white">LOGIN</a>
                </div>
            </div> -->

            <nav class="flex justify-end items-center w-[92%]  mx-auto">

                <div
                    class="nav-links duration-500 lg:static bg-gray-700 lg:mt-0 mt-5 lg:ml-20 lg:bg-transparent   absolute  lg:min-h-fit min-h-[60vh] left-0 top-[-100%] lg:w-auto  w-full flex items-center px-5">
                    <ul class="flex sm:flex-row flex-col md:items-center md:gap-[4vw] gap-8 ml-40 sm:ml-0">
                        <li>
                            <a class="hover:text-black  text-2xl text-white inline-flex" href="#"><svg
                                    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke-width="1.5" stroke="currentColor" class="w-6 h-6 m-1">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
                                </svg>
                                Home


                            </a>
                        </li>
                        <li>
                            <button class="hover:text-black  text-2xl text-white inline-flex"
                                onclick="scrollWin(0,1000)">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke-width="1.5" stroke="currentColor" class="w-6 h-6 m-1">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z" />
                                </svg>
                                Shop
                            </button>
                        </li>

                        <li>
                            <a class="hover:text-black text-2xl text-white inline-flex" href="#"
                                onclick=window.location.href="product.html">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke-width="1.5" stroke="currentColor" class="w-6 h-6 m-1">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M15.75 10.5V6a3.75 3.75 0 10-7.5 0v4.5m11.356-1.993l1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 01-1.12-1.243l1.264-12A1.125 1.125 0 015.513 7.5h12.974c.576 0 1.059.435 1.119 1.007zM8.625 10.5a.375.375 0 11-.75 0 .375.375 0 01.75 0zm7.5 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z" />
                                </svg>
                                Products</a>
                        </li>
                        <li>
                            <button
                                class=" relative hover:text-black  text-2xl text-white border-2 bg-purple-700 px-5 py-2 rounded-2xl inline-flex"
                                id="cart" onclick=window.location.href="{% url 'cart' %}">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke-width="1.5" stroke="currentColor" class="w-6 h-6 m-1">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z" />
                                </svg>

                                Cart
                                <h1 id="cartamount" class=" bg-red-600 absolute bottom-8 right-0 rounded-md ">0

                                </h1>
                            </button>

                        </li>
                        <li>
                            <a class=" text-2xl border-2 px-5 py-2 rounded-lg bg-red-700 hover:text-black text-white"
                                href="#">Login</a>
                        </li>
                    </ul>
                </div>
                <div class="flex items-center gap-6 ">
                    <ion-icon onclick="onToggleMenu(this)" name="menu"
                        class="text-3xl cursor-pointer mr-7 mb-2 lg:hidden"></ion-icon>
                </div>

        </div>


        <div class="md:flex md:flex-row md:justify-between grid-cols-3 overflow-x-auto">
            <!-- <div class="md:w-2/5 flex flex-col mt-10 justify-center ml-10 items-center px-3 md:ml-20">
                <h1 class="font-serif text-5xl text-white mb-2 md:text-left md:self-start">SHOP WITH US</h1>
                <p class="uppercase text-white tracking-wide md:text-left md:self-start">This Shop is best for selling
                    Laptops, Mobiles</p>
                <p class="uppercase text-white tracking-wide md:text-left md:self-start">our brand motto</p>
                <a href="#" id="button"
                    class="border-2 border-cyan-300 mt-3 rounded-full md:self-start px-6 py-2 md:mt-10 text-cyan-300">Get
                    Started</a> -->
        </div>
        <div class="md:w-2/5 flex justify-end">
            <img src="https://www.pngall.com/wp-content/uploads/5/PlayStation-5-PNG-High-Quality-Image.png"
                class="h-screen md:pb-20 pt-5" alt="">
        </div>
        <div class="bg-black hidden md:w-1/5 translate-x-2 duration-150 delay-75">
            <h1>teioifuuo</h1>
        </div>



        <div class="my-20">
            <div class="flex flex-row justify-center ">
                <h1 class="text-4xl text-white font-bold md:ml-10 mb-10">Gamepad Collection</h1>
                <a href="" class="flex flex-row text-3xl text-white md:mr-5">View All
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="3"
                        stroke="currentColor" class="w-6 h-6 pt-3">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3" />
                    </svg>
                </a>
            </div>
            <div id="shopping" class="grid grid-cols-3 gap-2">
            </div>
        </div>
    </div>
    <script>
        let shopitemdata = []
        fetch("http://127.0.0.1:8000/web3_auth/item_data")
            .then(response => response.json()).then(data => {
                shopitemdata = data.items;
                generateshop();
            })
    </script>
    <script>
        // let button1 = document.getElementById('button');

        // button1.onclick = function (e) {
        //     e.preventDefault();

        //     // Replace localhost and the folder name
        //     // based on your setup
        //     location.href = 'http://127.0.0.1:8000/web3_auth/cart';
        // }
        const navLinks = document.querySelector('.nav-links')
        function onToggleMenu(e) {
            e.name = e.name === 'menu' ? 'close' : 'menu'
            navLinks.classList.toggle('top-[9%]')
        }

        function scrollWin(x, y) {
            window.scrollBy(x, y);
        }
        // const close = document.querySelector(".close");
        // const dropdownButton = document.querySelector("#cart");
        // const dropdownList = document.querySelector(".hidden");

        // dropdownButton.addEventListener("click", () => {
        //     dropdownList.classList.toggle("hidden");
        // })


        let shop = document.getElementById('shopping');
        // let buttonx = document.getElementById('btnx');
        // let button2 = document.getElementsByClassName('btn2');

        let basket = JSON.parse(localStorage.getItem("data")) || []
        let generateshop = () => {
            return (shop.innerHTML = shopitemdata.map((x) => {
                // let(id, name, img1, bt1, bt2) = x;
                let search = basket.find((a) => a.id === x.id) || [];
                return `
                    
                <div  class="shadow-md rounded-lg mb-5 hover:translate-y-2 duration-150 delay-75">
                    <a href="">
                        <img src="${x.img1}" class=""
                            alt="">
                    </a>
                    <div class="p-5 flex flex-row justify-between">
                        <h3 class="text-xl font-bold"><a href="">${x.name}</a></h3>
                        <h3 class="font-bold text-xl "><a href="">${x.price}</a></h3>
                    </div>
                    
                    <div class="flex flex-row justify-between ml-8 mb-4">
                        <a href=""  onclick="increment(${x.id},${x.num})"
                            class=" hover:bg-red-400 button   bg-red-600 px-3 py-3 text-white rounded-lg flex flex-row gap-1 ">
                            Add To Cart
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M15.75 10.5V6a3.75 3.75 0 10-7.5 0v4.5m11.356-1.993l1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 01-1.12-1.243l1.264-12A1.125 1.125 0 015.513 7.5h12.974c.576 0 1.059.435 1.119 1.007zM8.625 10.5a.375.375 0 11-.75 0 .375.375 0 01.75 0zm7.5 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z" />
                            </svg>

                        </a>
                        <h1 id =${x.id} class="font-bold text-2xl">${search.item === undefined ? 0 : search.item}</h1>
                        <a href=""  onclick="decrement(${x.id},${x.num})"
                        class=" mr-5 hover:bg-red-400 button   bg-red-600 px-3 py-3 text-white rounded-lg flex flex-row gap-1 ">
                        Remove
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M15.75 10.5V6a3.75 3.75 0 10-7.5 0v4.5m11.356-1.993l1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 01-1.12-1.243l1.264-12A1.125 1.125 0 015.513 7.5h12.974c.576 0 1.059.435 1.119 1.007zM8.625 10.5a.375.375 0 11-.75 0 .375.375 0 01.75 0zm7.5 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z" />
                        </svg>

                    </a>


                </div>
                    </div>
                 </div> 

                    `}).join(""));
        };

        generateshop();
        let increment = (id, num) => {
            event.preventDefault();
            let selectedItem = shopitemdata.find((x) => x.id === id);
            let search = basket.find((x) => x.id === selectedItem.id);

            if (search === undefined) {
                basket.push({
                    id: selectedItem.id,
                    item: 1,
                });
            } else {
                search.item += 1;
            }

            update(selectedItem.id);
            localStorage.setItem("data", JSON.stringify(basket));
        };

        let decrement = (id) => {
            event.preventDefault();
            let selectedItem = shopitemdata.find((x) => x.id === id);
            let search = basket.find((x) => x.id === selectedItem.id);

            if (search === undefined) return;
            if (search.item === 0) {
                return;
            } else {
                search.item -= 1;
            }

            update(selectedItem.id);
            basket = basket.filter((x) => x.item !== 0);
            localStorage.setItem("data", JSON.stringify(basket));
        };
        function update(id) {
            event.preventDefault();
            let search = basket.find((x) => x.id === id);
            // console.log(search.item)
            document.getElementById(id).innerHTML = search.item;
            calculation()
        }

        function calculation() {
            let carticon = document.getElementById("cartamount");
            let value = basket.length > 0 ? basket.map((x) => x.item).reduce((x, y) => x + y, 0) : 0;
            carticon.innerHTML = value;
        }
        calculation();
        function clearBasket() {
            localStorage.removeItem("data");
            basket = [];
            calculation();
            generatecartitems();
        }
    </script>

</body>

</html>